<footer class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <p>
          Created by
          <a target="_blank" href="http://vinoth.info">Vinoth Pandian</a>
        </p>
        <div>
          Icons made by
          <a
            href="https://www.flaticon.com/authors/zlatko-najdenovski"
            title="Zlatko Najdenovski"
          >
            Zlatko Najdenovski
          </a>
          and <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
          <a href="https://www.flaticon.com/" title="Flaticon">
            www.flaticon.com
          </a>
          is licensed by
          <a
            href="http://creativecommons.org/licenses/by/3.0/"
            title="Creative Commons BY 3.0"
            target="_blank"
          >
            CC 3.0 BY
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <h6>Know more</h6>
        <ul class="footer-style">
          <li>
            <a routerLink="students">Students</a>
          </li>
          <li>
            <a routerLink="gallery">Photo Gallery</a>
          </li>
          <li>
            <a routerLink="contact-us">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h6>Participate</h6>
        <ul class="footer-style">
          <li>
            <a routerLink="charity">Charity</a>
          </li>
          <li>
            <a routerLink="events">Events</a>
          </li>
          <li>
            <a routerLink="contributors">Contributors</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h6>Social Media</h6>
        <ul class="footer-style">
          <li>
            <a
              target="_blank"
              href="https://www.facebook.com/arthamcharitablefoundation/"
            >
              Like us on
              <img
                src="assets/img/fb.svg"
                width="24"
                height="24"
                alt="Facebook"
              />
            </a>
          </li>
        </ul>
        <a
          routerLink="donate"
          role="button"
          class="btn btn-success px-4 btn-sm text-white"
        >
          Donate
        </a>
      </div>
    </div>
  </div>
</footer>
