<div class="container">
  <div class="row justify-content-center">
    <div
      class="col-12 align-self-end m-md-4 p-4 p-md-5 border-faded border rounded"
    >
      <h6 class="text-muted float-right">Since January 2012</h6>
      <h2 class="display-4">Artham</h2>
      <h4 class="text-muted">
        Supporting child education - financially and morally
      </h4>
      <hr />
      <blockquote id="tamil-quote" class="blockquote pt-3 pb-1 pl-4">
        <p>உடல் என்னும் வார்த்தைக்கு உயிர் அர்த்தம்</p>
        <p>மனிதம் என்னும் வார்த்தைக்கு அன்பு அர்த்தம்</p>
        <p>பிறப்பு என்னும் வார்த்தைக்கு வாழ்க்கை அர்த்தம்</p>
        <p>வாழ்ந்தோம் என்னும் வார்த்தைக்கு நாங்கள் இருப்போம் அர்த்தமாய்</p>
      </blockquote>
      <p>
        Every time u see a child homeless and ignorant, have you experienced the
        burning desire to reach out and make the difference???
      </p>
      <p>Yes??</p>
      <p>
        Then, next time when your hands are full, don’t just sit against the
        wall and wait for the opportunity to open its door.
      </p>

      <p>
        Come on!!! It’s high time to get your engines rolling and do the
        needful. ARTHAM FOUNDATION was a result of one such kick start to
        repair, to replace and to renew our societal shortcomings. On January
        2012, we began aggressively exploring opportunities, with the help of
        our strong supporters to work towards the mission. Now we are very
        excited about the impact.
      </p>

      <p>
        It is the right of every child to remain healthy, to be valued, to enjoy
        & to regularly attend school and not even poverty can sink its nail on
        the innocents. It is through the creative and thoughtful ideas of many
        of our supporters that ARTHAM has started to bloom in various
        activities.
      </p>

      <p>
        It was and is all about enriching the lives of economically challenged.
      </p>

      <p>A one-stop solution for societal shortcomings.</p>

      <p>
        Go the extra mile and do more than is expected. We believe problems are
        solved this way. What about you?? In or Out??
      </p>
    </div>
  </div>
</div>
