<ng-container *ngIf="students.length; else elseTemplate">
  <section class="container">
    <div
      *ngFor="let student of students"
      class="row mb-3 p-lg-5 p-4 border rounded"
    >
      <div class="col-lg-2 text-center mb-4 mb-lg-0">
        <img
          class="rounded"
          [src]="student.image"
          alt="First slide"
          height="220"
          width="180"
        />
      </div>
      <div class="col-lg-10 text-center pl-lg-5">
        <h3 class="text-primary text-lg-left">{{ student.name }}</h3>
        <p
          class="lead text-muted text-justify"
          [innerHtml]="student.short_description"
        ></p>
        <p>
          <a
            class="btn btn-secondary float-lg-left align-self-center"
            [routerLink]="student.id"
            role="button"
            >View details &raquo;</a
          >
        </p>
      </div>
    </div>
  </section>
</ng-container>
<ng-template #elseTemplate>
  <app-loading-page></app-loading-page>
</ng-template>
