<ng-container *ngIf="students.length; else elseTemplate">
  <section class="container">
    <div id="title" class="text-center text-md-left p-2 p-md-0">
      <h3 class="page-title pt-3 mb-5">{{ title }}</h3>
    </div>
    <div
      *ngFor="let student of students"
      class="row mb-3 p-lg-5 p-4 border rounded"
    >
      <div class="col-lg-2 text-center mb-4 mb-lg-0">
        <img
          class="rounded"
          src="https://db.vinoth.info/v1/storage/buckets/638d8b417e1d09db631e/files/638e0be4873643ffc33a/view?project=638c3341b5b5e96ee679"
          alt="{{ student.name }}"
          height="220"
          width="180"
        />
      </div>
      <div class="col-lg-10 text-center pl-lg-5">
        <h3 class="text-primary text-lg-left">
          <a [routerLink]="student.id">{{ student.name }}</a>
        </h3>
        <p
          class="lead text-muted text-justify"
          [innerHtml]="student.short_description"
        ></p>
        <p>
          <a
            class="btn btn-secondary float-lg-left align-self-center"
            [routerLink]="student.id"
            role="button"
          >
            View details &raquo;
          </a>
        </p>
      </div>
    </div>
  </section>
</ng-container>
<ng-template #elseTemplate>
  <app-loading-page></app-loading-page>
</ng-template>
