<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand small-caps" routerLink="home">
    <img
      src="assets/img/artham-bar.jpg"
      alt="Artham Logo"
      width="30"
      height="30"
    />
    Artham
  </a>
  <button
    class="navbar-toggler"
    type="button"
    (click)="isNavbarCollapsed = !isNavbarCollapsed"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    id="navbarSupportedContent"
    [ngbCollapse]="isNavbarCollapsed"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let link of links">
        <a
          routerLink="{{ link.to }}"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: link.exact }"
          class="nav-link"
          (click)="isNavbarCollapsed = true"
        >
          {{ link.name }}
        </a>
      </li>
    </ul>
    <div class="d-inline my-2 my-lg-0">
      <a
        routerLink="/contact-us/donate"
        class="btn btn-success px-md-4 my-2 my-sm-0"
      >
        Donate
      </a>
    </div>
  </div>
</nav>
