<section id="header" class="page-header">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-auto col-md-6 d-flex d-md-block align-items-center">
        <h1 class="header-title">Artham</h1>
        <p class="lead d-none d-md-inline">
          Supporting child education - financially and morally
        </p>
      </div>
      <div class="col-auto col-md-6 d-flex justify-content-end">
        <img
          src="assets/img/artham-logo.png"
          height="150"
          width="150"
          alt="Artham Logo"
        />
      </div>
    </div>
  </div>
  <hr />
</section>
