<ng-container *ngIf="charities; else elseTemplate">
  <section class="container">
    <div id="title" class="text-center text-md-left p-2 p-md-0">
      <h3 class="page-title pt-3 mb-5">{{ title }}</h3>
    </div>
    <div class="row align-items-baseline justify-content-center">
      <div class="col-md-8">
        <!-- Charity cards -->
        <div
          *ngFor="
            let charity of (charities
              | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize)
          "
        >
          <div class="row">
            <div class="col-12 p-md-3">
              <a routerLink="charity.id">
                <h3 class="text-primary">{{ charity.title }}</h3>
              </a>
              <h6 class="text-muted">
                {{ charity.published_date | date: "longDate" }}
              </h6>
              <p
                class="text-muted text-justify "
                [innerHtml]="charity.content | safeHTML"
              ></p>
            </div>
          </div>
          <hr />
        </div>
        <ngb-pagination
          [(page)]="page"
          [pageSize]="pageSize"
          [collectionSize]="charities.length"
          aria-label="Default pagination"
        ></ngb-pagination>
      </div>
      <div class="col-md-4 mb-5">
        <h3 class="p-2 font-weight-light">
          Charities archive
        </h3>
        <ngb-accordion #acc="ngbAccordion">
          <ngb-panel *ngFor="let charity of charitySidebar">
            <ng-template ngbPanelTitle>
              <a routerLink="charities">
                {{ charity.year }}
              </a>
            </ng-template>

            <ng-template ngbPanelContent>
              <div *ngFor="let month of charity.months">
                <a
                  routerLink="charities"
                  class="list-group-item border-0 p-0 my-2 ml-4"
                >
                  {{ month | numToMonth }}
                </a>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </section>
</ng-container>
<ng-template #elseTemplate>
  <app-loading-page></app-loading-page>
</ng-template>
