<div class="container">
  <div class="row justify-content-start align-items-start">
    <div class="col-12 m-md-0 p-4 p-md-5 pd-md-0 border-faded border rounded">
      <h1 class="text-center info-title">Help us to help others!</h1>

      <div
        class="row justify-content-center align-items-top text-center mt-md-5 mt-4"
      >
        <div class="col-md-4 m-3 m-md-0">
          <img
            class="rounded"
            src="assets/img/donation.png"
            alt="donation"
            width="140"
            height="140"
          />
          <h2 class="py-2">Donate monthly</h2>
          <p class="px-5 text-center">
            Your regular assistance will help the children grow and survive
            beyond the crucial age of five.
          </p>
        </div>
        <div class="col-md-4 m-3 m-md-0 mt-md-0">
          <img
            class="rounded"
            src="assets/img/teamwork.png"
            alt="volunteer"
            width="140"
            height="140"
          />
          <h2 class="py-2">Volunteer</h2>
          <p class="px-5 text-center">
            Go the extra mile and do more than is expected for the guaranteed
            self satisfaction.
          </p>
        </div>
        <div class="col-md-4 m-3 m-md-0">
          <img
            class="rounded"
            src="assets/img/group.png"
            alt="event group"
            width="140"
            height="140"
          />
          <h2 class="py-2">Join an event</h2>
          <p class="px-5 text-center">
            Any idea of yours will be entertained for as long as it takes to
            bring a difference in the lives of the neglected.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
