<div class="container h-75">
  <section id="title" class="text-center text-md-left">
    <h3 class="page-title pt-3 mb-2">{{ title }}</h3>
  </section>
  <section id="details" class="mb-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-auto">
          <hr />
          <div class="row align-items-center">
            <div class="col-3 font-weight-bold">
              <img
                class="d-block mx-auto img-fluid"
                src="assets/img/email.png"
                alt="Email"
              />
            </div>
            <div class="col">
              <a
                href="mailto:arthamtrust@gmail.com?Subject=[Website]:Replace%20with%20your%20text"
                target="_top"
                >arthamtrust@gmail.com</a
              >
            </div>
          </div>
          <hr />
          <div class="row align-items-center">
            <div class="col-3 font-weight-bold">
              <img
                class="d-block mx-auto img-fluid"
                src="assets/img/facebook.png"
                alt="Facebook"
              />
            </div>
            <div class="col">
              <a
                href="https://www.facebook.com/arthamcharitablefoundation/"
                target="_blank"
                >Artham Facebook page</a
              >
            </div>
          </div>
          <hr />
          <div class="row align-items-center">
            <div class="col-3 font-weight-bold">
              <img
                class="d-block mx-auto img-fluid"
                src="assets/img/facebook-group.png"
                alt="Facebook group"
              />
            </div>
            <div class="col">
              <a
                href="https://www.facebook.com/groups/arthamtrust/"
                target="_blank"
                >Artham Facebook group</a
              >
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </section>
</div>
