<div class="container-fluid border border-faded h-100">
  <div class="row justify-content-center align-items-md-center h-100 cover">
    <div
      class="col col-md-auto text-center align-self-end align-self-md-center"
    >
      <div class="row">
        <div class="col-12">
          <h1 class="display-1 small-caps">Artham</h1>
        </div>
        <div class="col-12">
          <h5 class="text-center">
            Supporting child education - financially and morally
          </h5>
        </div>
      </div>
    </div>

    <div class="col-auto align-self-top align-self-md-center">
      <img src="assets/img/artham-logo.png" alt="Artham Logo" />
    </div>
  </div>
</div>
