/* Gallery */

#gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &:after {
    content: "";
    flex: auto;
  }

  .image-card {
    box-sizing: border-box;

    &:hover {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      border-radius: 0.25em;
      cursor: pointer;
    }

    a {
      text-decoration: None;
    }
  }
}
