<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand small-caps" href="#">
    <img
      src="assets/img/artham-bar.jpg"
      alt="Artham Logo"
      width="30"
      height="30"
    />
    Artham
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let link of links">
        <a href="" class="nav-link">
          {{ link.name }}
        </a>
      </li>
    </ul>
    <div class="d-inline my-2 my-lg-0">
      <button class="btn btn-success px-md-4 my-2 my-sm-0">
        Donate
      </button>
    </div>
  </div>
</nav>
