@import "./variables";

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

// /* Used in all pages */

html,
body {
  height: 100%;
}

/* All except home page: Style for header.js */

.header-title {
  font-size: 4.5rem;
  font-weight: 300;
}

.page-title {
  font-weight: 200;
  font-size: 2.25rem;
}

@include media-breakpoint-down(sm) {
  // Reduce the header title size in mobile
  .header-title {
    font-size: 3.5rem;
  }

  .page-title {
    font-size: 2rem;
  }
}

/* Home page: Used to make title in small-caps */

.small-caps {
  font-variant: small-caps;
}

@include media-breakpoint-down(md) {
  // Home page: Remove small caps in mobile
  .small-caps {
    font-variant: normal;
  }
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
